body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}
.navigation{
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation >div> button{
    padding: 6px 8px;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: transparent;
    color: white;
}
